.content {
    max-width: 800px;
    text-align: center;
}

.headerTitle {
    font-size: var(--font-size-title);
}

.headerDescription {
    margin-top: 15px;
    font-size: var(--font-size-small-text);
}