@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

:root {
    --color-background: #172554;
    --color-primary: #2563eb;
    --color-primary-text-color: #fff;
    --color-text-default: #fff;

    --font-size-default: 1.05rem;
    --font-size-title: 2.2rem;
    --font-size-label: 1.05rem;
    --font-size-small-text: 1rem;
    --font-size-others: 1.5rem;
    --font-size-button-text: 1.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    font-family: 'Red Hat Display', sans-serif;
    color: var(--color-text-default);
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 50px;

    min-height: 100vh;
    padding: 5em 8%;
    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1100px) {
    :root {
        --font-size-title: 1.8rem;
        --font-size-others: 1.2rem;
    }
}